<footer class="footer-distributed">

  <div class="footer-right">

    <a href="https://www.facebook.com/kundalini.kundalini.98284">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/kundalinisfire">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://plus.google.com/u/2/108820803601255097558">
      <i class="fa fa-google-plus"></i>
    </a>
  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a [routerLink]="'/'">Home</a>
      .
      <a [routerLink]="'aboutus'">About</a>
      ·
      <a href="mailto:contact@kundalinifireworks.com?Subject=Hello%20Kundalini">Contact</a>
    </p>

    <p>Kundalini &copy; 2018</p>
  </div>

</footer>