ul {
    margin: 0;
    font-family: 'Mina', sans-serif;
    font-size: 12px;
    padding: 10px;
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.8) ; 
}
img{
    width:60px;
    height:60px;
}

.menuItem{
    display:inline-block;
    margin:0px 10px;
}

.imageDiv{
    padding :2px;
}
.iconText{
    text-align:center;
}

a{
    text-decoration: none;
}
a:link,a:visited {
    font-weight: bold;
}

a:hover,a:active  {
    color: #FF7400;
}

.imageDiv:hover {
    border-radius:50%;
    background-color: #FF7400; 
}

.menuborder {
    border-color: red;
    border-width: 10px;
}


@media only screen and (max-width: 650px) {
    ul {
        flex-wrap: wrap;
        display:none;
    }
    .menuborder {
        border-color: red;
        border-width: 10px;
    }
    
}
