<go-top-button [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300" [styles]="{
	'margin-top': '250px',
	'background-color': 'black',
	'opacity': '0.7',
    'line-height': '20px'}">
	<i class="fa fa-arrow-up" style="color:white;"></i>
</go-top-button>
<div class="header-row" id="header-row" style="padding: 0px; overflow: hidden; height: 100%;">
	<div class="container-fluid" style="padding: 0px;">
		<div class="row">
			<div class="col-xs-12">
				<a class="navbar-brand logo">
					<img class="imagecart">
				</a>
			</div>
		</div>
	</div>
</div>
<div class='container'>
	<h1>Shopping Cart</h1>

	<div class="shopping-cart">

		<div class="column-labels">
			<label class="product-image">Image</label>
			<label class="product-details">Product</label>
			<label class="product-price">Price</label>
			<label class="product-quantity">Quantity</label>
			<label class="product-removal">Remove</label>
			<label class="product-line-price">Total</label>
		</div>

		<div class="product" *ngFor="let listItem of myKartList;let i=index">
			<div class="product-image">
				<img [src]="listItem.itemImage">
			</div>
			<div class="product-details">
				<div class="product-title">{{listItem.itemName}}</div>
				<p class="product-description">{{listItem.itemDesc}}</p>
			</div>
			<div class="product-price">
				<i class="fa fa-rupee"></i>{{listItem.itemPrice}}</div>
			<div class="product-quantity">
				<div class="flex-box">
					<a class="btn-sm btn-success displayInline" (click)="reduceQuantity(i)">-</a>
					<input type="number" [(ngModel)]="listItem.itemQuantity" readonly min="1">
					<a class="btn-sm btn-success displayInline" (click)="increaseQuantity(i)">+</a>
				</div>
			</div>
			<!-- <form class="form-inline" >
				<a  class="btn btn-success displayInline" (click)="reduceQuantity(i)">-</a>
				<input class="displayInline form-control" type="number" [value]='listItem.itemQuantity'/>
				<a  class="btn btn-success displayInline" (click)="increaseQuantity(i)">+</a>
				</form> -->
			<div class="product-removal">
				<button class="remove-product" (click)="removeThisProduct(i)">Remove</button>
			</div>
			<div class="product-line-price">
				<i class="fa fa-rupee"></i>{{listItem.totalFinalVal}}</div>
		</div>
		<div class="form-group" class="col-md-6">
			<label class="applyoffer" *ngIf="!applyOfferFlag" (click)="applyOffer()">Apply Offer</label>
			<label class="applyoffer" *ngIf="applyOfferFlag" (click)="removeOffer()">Remove Offer</label>
			<div *ngIf="applyOfferFlag">
				<select class="form-control selectoffer" [(ngModel)]="selectedOption" (change)="setOffer()">
					<option *ngFor="let offer of offers; let i = index" [value]="offer.offerID">{{offer.description}}</option>
				</select>
				<p class="offerDesc"> {{offerDetails}} </p>
				<p class="col-md-6">Available Delivery Dates
					<select class="form-control selectdeliverydates" [(ngModel)]="selectedDateOption">
						<option *ngFor="let deliveryDate of deliveryDates;">{{deliveryDate}}</option>
					</select>
				</p>
			</div>
		</div>

		<div class="totals">
			<div class="totals-item">
				<label>Subtotal</label>
				<div class="totals-value" id="cart-subtotal">
					<i class="fa fa-rupee"></i>{{subtotalValue}}
				</div>
			</div>
			<div *ngIf="applyOfferFlag" class="totals-item">
				<label>Discount</label>
				<div class="totals-value" id="cart-shipping">
					<i class="fa fa-rupee"></i>-{{discountValue}}</div>
			</div>

			<!--<div class="totals-item">
				<label>Tax (5%)</label>
				<div class="totals-value" id="cart-tax">3.60</div>
			</div> -->
			<div class="totals-item totals-item-total">
				<label>Grand Total</label>
				<div class="totals-value" id="cart-total">
					<i class="fa fa-rupee"></i>{{totalValue}}</div>
			</div>
		</div>
		<button class="checkout" (click)="gotoPlaceOrder()">Checkout</button>
	</div>
</div>