<div class="container">
  <div class="flex-row">
    <div class="orderid">OD211857209000753000</div>
    <div class="resend">Resend <i class="fa fa-envelope"></i></div>
  </div>
  <div class="content-order">
    <div>
      <div class="flex-row">
        <div><img class="product-image" src="assets/items/caps.jpg"></div>
        <div class="details">Based on your current project assignment, you have been assigned and are required to complete the course “Data Privacy and Protection: A European Perspective” on or before May 17, 2018.</div>
        <div class="quantity">2 items</div>
        <div class="price">2 * 50 = 100 <i class="fa fa-rupee"></i></div>
        <div class="return"><button>Return <i class="fa fa-undo"></i></button></div>
      </div>
      <hr color="red">
    </div>
    <div>
      <div class="flex-row">
        <div><img class="product-image" src="assets/items/caps.jpg"></div>
        <div class="details">Based on your current project assignment, you have been assigned and are required to complete the course “Data Privacy and Protection: A European Perspective” on or before May 17, 2018.</div>
        <div class="quantity">2 items</div>
        <div class="price">2 * 50 = 100 <i class="fa fa-rupee"></i></div>
        <div class="return"><button>Return <i class="fa fa-undo"></i></button></div>
      </div>
      <hr color="red">
    </div>
    <div>
      <div class="flex-row">
        <div><img class="product-image" src="assets/items/caps.jpg"></div>
        <div class="details">Based on your current project assignment, you have been assigned and are required to complete the course “Data Privacy and Protection: A European Perspective” on or before May 17, 2018.</div>
        <div class="quantity">2 items</div>
        <div class="price">2 * 50 = 100 <i class="fa fa-rupee"></i></div>
        <div class="return"><button>Return <i class="fa fa-undo"></i></button></div>
      </div>
      <hr color="red">
    </div>
    <div class="total">
      <div class="flex-row">
        <div>Total Amount :</div>
        <div>200 <i class="fa fa-rupee"></i></div>
      </div>
    </div>
  </div>
</div>