.container {
    padding:20px;
    margin-top:20px;
    background-image: url('../../assets/image/matt_black.jpg');
    border-radius: 1%;
}
.orderid {
    background: #1942c9;
    color: #fff;
    box-shadow: none;
    border: 1px solid #1942c9;
    padding: 8px 12px;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    width: 196px;
}
.resend {
    background: #29a1be;
    white-space: nowrap;
    padding: 6px 0;
    width: 100px;
    text-align: center;
    color: #e0d420;
    border-radius: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-image {
    float: left;
    width: 90px;
    height: 90px;
    padding: 15px;
}

.content-order {
    border-style: solid;
    border-color: #d41212;
    border-radius: 25px;
    padding: 10px;
}

.details {
    color: #b3b151;
    width: 40%;
}

.quantity {
    color: #b3b151;
}

.price {
    color: #b3b151;
}

.return {
    padding: 10px;
}

.total {
    color: #b3b151;
}

.line-hr {
    border-color: #d41212;
    border-width: 5px;
}