<div class="row">
  <div class="col-md-4 kali">
    <img src="assets/image/kali.jpg" class="img-thumbnail">
  </div>
  <div class="col-md-8">
    <div class="innerDiv">
      <p class="text">Why we chose Kundalini as our company name ?</p>
      <p class="textplain">Kundalini is more of a power than energy. It is present in every human. We have seven Kundalini chakras. They are present
        on all over the spinal cord.</p>
      <p class="textplain">The most powerfull chakra is on our head. It is location on the pineal gland (the reptilian brain).</p>
      <p class="textplain">Kundalini also synonym for hindu deity Kali/Gouri/Parvati.</p>
      <p class="text">Company Logo ?</p>
      <p class="textplain">Our company logo contains 16 spokes, Which is the representation of the chakkra Vishuddha. This chakra resides on our
        throat. Mahadev believed to live in 16th dimention. We are the followers of Mahadev</p>
    </div>
    <div class="coloum">
      <form (submit)="post($event)" *ngIf="auth.isAuthenticated()">
        <div class="arrow_box">
          <input type="text">
        </div>
        <button type="submit">POST</button>
      </form>
      <div *ngFor="let comment of comments">
        <div class="header">
          <span>{{comment.customerName}}</span> said on
          <span>{{comment.comment.date}}</span>
        </div>
        <div class="commented">
          {{comment.comment.text}}
        </div>
      </div>
    </div>
  </div>
</div>