.Row
{
    display: table;
    table-layout: fixed; 
    border-spacing: 10px;
}
.Column
{
    display: table-cell;
}

.text {
    color: yellow;
    font: bold;
    font-size: 20px;
}

.textplain {
    color: yellowgreen;
    font: bold;
    font-size: 20px;
}

.innerDiv{
    padding:60px;
    border:1px yellow solid;
    border-radius: 3px;
}