.container-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.displayInline{
    display:inline-block;
    border-radius:0;
    width:50px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.product{
    margin-left:15px; 
    display:inline-block;
}

.product>img{
    width:24px;
    height:24px;
}

.fullwidh{
    width:100%;
    padding: 20px;
    background: url('../../assets/animation/background.svg')center no-repeat,url('../../assets/image/matt_black.jpg') repeat;
    background-size: 100%,auto;
}


.padder-margine{
    margin-top:70px 
}


.alertError{
    border:1px red solid;
}


@media only screen and (max-width: 1420px) {
    .fullwidh{
        background: url('../../assets/image/matt_black.jpg') repeat;
        background-size: auto;
    }
}