<p>
  {{itemtype}}
</p>
<div class="container-grid">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets\image\front3_l.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <form class="form-inline">
    <a  class="btn btn-success displayInline">+</a>
    <input class="displayInline form-control" type="text" aria-label="Amount (to the nearest dollar)">
    <a  class="btn btn-success displayInline">-</a>
    </form>
    <hr>
    <a href="#" class="btn btn-success">Add To Cart</a>
 <!--    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-addon">.00</span>
    </div> -->
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets\image\front3_l.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
