<app-item-menu></app-item-menu>

<div class="fullwidh">
 <!--  <img src="assets/animation/background.svg" style="width:100%;height:100%"> -->
<div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image/banner4.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Haridwar</h3>
        <p>Ganges on Fire</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/image/banner5.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Crystals</h3>
        <p>We Shape Light</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/image/banner6.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Colony</h3>
        <p>A small Colony on Hill Side</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>

<div class="clearfix"></div>

<div class="padder-margine">
<div class="container-grid">
<div class="card" *ngFor="let item of gridItemArray;let i=index" style="max-width: 260px;margin:20px">
  <img class="card-img-top" [src]="item.itemImage" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.itemName}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="flexbox-design">
      <div class="price-box">Rs {{item.itemPrice}}</div>
      <div class="brand-box">{{item.brand}}</div>
    </div>
    <hr>
    <form class="form-inline" >
    <a  class="btn btn-success displayInline" (click)="reduceQuantity(i)">-</a>
    <input class="displayInline form-control" type="text" [value]='item.itemQuantity' readonly/>
    <a  class="btn btn-success displayInline" (click)="increaseQuantity(i)">+</a>
    <a class="btn btn-success product " [ngClass]="{'disabled':quantityGtOne(i)}"> <img src="/assets/brand/shop.svg"  class="d-inline-block" alt="kundalini" [id]='item.productId' (click)='addProductToWebStore(i,input)'></a>
    </form>
  </div>
</div>
</div>
</div>
