<div class="container">
  <div>
    <div>
      <img class="productImage" [src]="selectedProduct.itemImage">
    </div>
    <div class="productName">
      {{selectedProduct.itemName}}
    </div>
  </div>
  <div class="verticals">
    <div class="productDesc">
      {{selectedProduct.itemDesc}}
    </div>
    <div id="container" class="slider">
      <div ng2-carouselamos [width]="500" [items]="items" [$item]="item" [$prev]="prevTemplate" [$next]="nextTemplate">
      </div>
      <ng-template #prevTemplate>
        <div>
          <i class="fa fa-chevron-left" style="font-size:36px"></i>
        </div>
      </ng-template>
      <ng-template #nextTemplate>
        <div>
          <i class="fa fa-chevron-right" style="font-size:36px"></i>
        </div>
      </ng-template>
      <ng-template #item let-item let-i="index">
        <div class="similerItem">
          <div class="similerItemsupper">
            <img src="{{item.itemImage}}">
            <span>{{item.itemDesc}}</span>
          </div>
          <div class="similerItemslower">
            <a class="btn btn-success">
              <span>
                <i class="fa fa-rupee"></i>{{item.itemPrice}}</span>
              <img src="assets/brand/shop.svg" class="d-inline-block" alt="kundalini" [id]='item.productId' (click)='addProductToWebStore(i,input)'>
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>