.container {
    display: flex;
    flex-direction : row; 
}
.filterAll {
    background-image: url('../../assets/image/matt_black.jpg');
    margin-top: 70px;
    color: white;
}

.headers {
    font-size: 45px;
    color: red;
}

.checkbox-container1 label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .checkbox-container1 input.checkbox {
    display: none;
  }
  .checkbox-container1 .checkbox-indicator {
    width: 40px;
    height: 40px;
    border: 0.2rem solid white;
    position: relative;
    transition: all 0.3s;
  }
  .checkbox-container1 .checkbox-indicator::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 28px;
    top: 0.2rem;
    left: 0.2rem;
    background: white;
    transition: 0.3s;
  }
  .checkbox-container1 input.checkbox:checked + .checkbox-indicator::before {
    top: 0.2rem;
    left: 2.7rem;
    background: #07b75f;
  }
  .checkbox-container1 input.checkbox:checked + .checkbox-indicator {
    border-color: #07b75f;
    box-shadow: 0 0 3rem rgba(7, 183, 95, 0.3);
  }
  .checkbox-container1 input.checkbox:checked + .checkbox-indicator + span {
    color: #07b75f;
    text-shadow: 0 0 3rem rgba(7, 183, 95, 0.5);
  }
  .checkbox-container1 span {
    margin-left: 1rem;
    font-size: 25px;
    transition: all 0.3s;
  }

.smallscreen {
    display: none;
}
.largescreen {
    display: inherit;
}

.container-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: rgb(56, 51, 51);
}

.displayInline{
    display:inline-block;
    border-radius:0;
    width:50px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.product{
    margin-left:15px; 
    display:inline-block;
}

.product>img{
    width:24px;
    height:24px;
}

.fullwidh{
    width:100%;
    padding: 20px;
    background: url('../../assets/animation/background.svg')center no-repeat,url('../../assets/image/matt_black.jpg') repeat;
    background-size: 100%,auto;
}


.padder-margine{
    margin-top:70px 
}


.alertError{
    border:1px red solid;
}

.flexbox-design {
    display: flex;
    justify-content: space-between;
}

.card-body{
    background: linear-gradient( #ffecd2 , #fcb69f);
}

.price-box{

    font-weight: bold;
    color: rgb(7, 30, 95);

}

.offered-box {
    font-weight: bold;
    color: darkgreen;
}

.brand-box{
  
    font-weight: bold;
    color: rgba(102, 62, 13, 0.932);

}

@media only screen and (max-width: 1420px) {
    .fullwidh{
        background: url('../../assets/image/matt_black.jpg') repeat;
        background-size: auto;
    }
}

@media screen and (max-width: 650px) {
    .smallscreen {
        display: inherit;
    }
    .largescreen {
        display: none;
    }
    .fullwidh {
        margin-top: 20px;
    }
    .padder-margine{
        margin-top:20px; 
    }

}