<div class="mainbody">
  <go-top-button [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300" [styles]="{
      'margin-top': '250px',
      'background-color': 'black',
      'opacity': '0.7',
        'line-height': '20px'}">
    <i class="fa fa-arrow-up" style="color:white;"></i>
  </go-top-button>
  <div *ngIf="mobileFilterFlag" class="filterAll overlay">
    <div>
      <span class="headers">Brands</span>
      <i class="fa fa-close mobile" style="font-size:40px;color:deepskyblue;margin-left:170px" (click)="displayFilter('close')"></i>
      <hr>
      <div class="checkbox-container1 checkbox-container" *ngFor="let brand of brands;let i=index">
        <label>
          <div class="checkbox-overlay"></div>
          <input class="checkbox" type="checkbox" (click)="detectFilterCriteria($event, 'B', i)" [id]="brand" [checked]="filteredBrandValue[i]"
          />
          <div class="checkbox-indicator"></div>
          <span>{{brand}}</span>
        </label>
      </div>
    </div>
    <div>
      <span class="headers">Types</span>
      <hr>
      <div class="checkbox-container1 checkbox-container" *ngFor="let menu of itemMenus;let i=index">
        <label>
          <div class="checkbox-overlay"></div>
          <input class="checkbox" type="checkbox" (click)="detectFilterCriteria($event, 'T', i)" [id]="menu.crackerTitleText" [checked]="filtereditemMenusValue[i]"
          />
          <div class="checkbox-indicator"></div>
          <span>{{menu.crackerTitleText}}</span>
        </label>
      </div>
    </div>
    <div>
      <span class="headers">Price </span>
      <hr>
      <div>
        <div class="range-slider">
          <input class="range-slider__range" type="range" value="400" min="minPrice" max="maxPrice" [(ngModel)]="mymodel" (ngModelChange)="changedVal(mymodel)">
          <span class="range-slider__value">
            <i class="fa fa-rupee"></i> {{maxPrice}}</span>
        </div>
        <div>
          <span>
            <i class="fa fa-rupee"></i> {{currentElementVal}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="padder-margine">
    <i class="fa fa-filter mobile" style="font-size:30px;color:#007bff" (click)="displayFilter('open')"></i>
    <div class="container-grid" id="kartForView">
      <div class="card" *ngFor="let item of resultGridItemArray;let i=index" style="max-width: 260px;margin:20px">
        <img class="card-img-top" [src]="item.itemImage" alt="Card image cap">
        <img *ngIf="'SIGNATURE_P'===item.itemActive" class="card-img-sinature" src="assets/menu-icons/signature_item_icon.svg">
        <img *ngIf="'SIGNATURE_D'===item.itemActive" class="card-img-sinature" src="assets/brand/dragon_color.svg">
        <div class="card-body">
          <h5 class="card-title">{{item.itemName}}</h5>
          <p class="card-text">{{item.itemDesc}}</p>
          <div class="brand-box">{{item.brand}}</div>
          <div class="flexbox-design">
            <div class="price-box">
              <i class="fa fa-rupee"></i>{{item.originalPrice}}</div>
            <div *ngIf="item.offer > 0"> - {{item.offer}}%</div>
            <div *ngIf="item.offer > 0" class="offered-box"> =
              <i class="fa fa-rupee"></i>{{item.itemPrice}}</div>
          </div>
          <hr>
          <form class="form-inline">
            <a class="btn btn-success displayInline" (click)="reduceQuantity(i)">-</a>
            <input class="displayInline form-control" type="text" [value]='item.itemQuantity' readonly/>
            <a class="btn btn-success displayInline" (click)="increaseQuantity(i)">+</a>
            <a class="btn btn-success product " [ngClass]="{'disabled':quantityGtOne(i)}">
              <img src="assets/brand/shop.svg" class="d-inline-block" alt="kundalini" [id]='item.productId' (click)='addProductToWebStore(i,input)'>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>