.mainbody {
    display: flex;
    flex-direction : row; 
}
.filterAll {
    background-image: url('../../assets/image/matt_black.jpg');
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 10px;
    color: white;
}

hr {
    border-top: 5px solid #f20119;
}

.headers {
    font-size: 30px;
    color: red;
}

.checkbox-container1 label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .checkbox-container1 input.checkbox {
    display: none;
  }
  .checkbox-container1 .checkbox-indicator {
    width: 40px;
    height: 40px;
    border: 0.2rem solid white;
    position: relative;
    transition: all 0.3s;
  }
  .checkbox-container1 .checkbox-indicator::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 28px;
    top: 0.2rem;
    left: 0.2rem;
    background: white;
    transition: 0.3s;
  }
  .checkbox-container1 input.checkbox:checked + .checkbox-indicator::before {
    top: 0.2rem;
    left: 21px;
    background: #07b75f;
  }
  .checkbox-container1 input.checkbox:checked + .checkbox-indicator {
    border-color: #07b75f;
    box-shadow: 0 0 3rem rgba(7, 183, 95, 0.3);
  }
  .checkbox-container1 input.checkbox:checked + .checkbox-indicator + span {
    color: #07b75f;
    text-shadow: 0 0 3rem rgba(7, 183, 95, 0.5);
  }
  .checkbox-container1 span {
    margin-left: 1rem;
    font-size: 25px;
    transition: all 0.3s;
  }

.smallscreen {
    display: none;
}
.largescreen {
    display: inherit;
}

.container-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: rgb(56, 51, 51);
}

.displayInline{
    display:inline-block;
    border-radius:0;
    width:50px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.product{
    margin-left:15px; 
    display:inline-block;
}

.product>img{
    width:24px;
    height:24px;
}


.padder-margine{
    margin-top:70px 
}


.alertError{
    border:1px red solid;
}

.flexbox-design {
    display: flex;
    justify-content: space-between;
}

.card-body{
    background: linear-gradient( #ffecd2 , #fcb69f);
}

.card-img-top {
    position: relative;
	top: 0;
	left: 0;
}

.card-img-sinature {
    position: absolute;
	top: 0px;
    right: 0px;
    width: 70px;
}


.price-box{

    font-weight: bold;
    color: rgb(7, 30, 95);

}

.offered-box {
    font-weight: bold;
    color: darkgreen;
}

.brand-box{
  
    font-weight: bold;
    color: rgba(102, 62, 13, 0.932);

}

.mobile {
    display: none;
}

/* Slider */

.range-slider {
    margin: 60px 0 0 0%;
  }
  
  .range-slider {
    width: 100%;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  }
  
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }
  
  


@media screen and (max-width: 650px) {
    .smallscreen {
        display: inherit;
    }
    .largescreen {
        display: none;
    }
    .fullwidh {
        margin-top: 20px;
    }
    .padder-margine{
        margin-top:20px; 
    }

    .filterAll {
        margin-top: 20px;
    }

    .overlay {
        position: absolute;
        margin-top: 145px;
        width: 100%;
        height: 150%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
        cursor: pointer;
    }

    .mobile {
        display: inline;
    }
}