<div class="container">
  <div>
    <div class="countdownclock">
      <countdown [text]="text" units="Month | Days | Hours | Minutes | Seconds" end="August 22, 2018"></countdown>
    </div>
    <img src="assets/brand/time_bomb.svg" class="bomb" />
  </div>
  <div class="cuddle">
    <div class="single">
    </div>
    <div class="single">
    </div>
    <div class="single">
    </div>
    <div class="single">
    </div>
    <div class="single">
    </div>
    <div class="single">
    </div>
    <div class="single">
    </div>
    <div class="single">
    </div>
    <div class="single">
    </div>
  </div>
</div>