<div class="container">
  <div class="bomb">
    <countdown [text]="text" units="Month | Days | Hours | Minutes | Seconds" end={{enddate}}></countdown>
  </div>
  <div class="cuddle">
    <div *ngFor="let offer of offers; let i = index" class="offer">
      <img [src]="offer.offerIMG">
      <p class="para">{{offer.description}}</p>
      <p class="para">{{offer.percentageApplicable}}% Off, with {{offer.preBookPercentageApplicable}}% pre-booking charges.
              Check the time remains -> 
      <i class="fa fa-clock-o" style="font-size:48px;color:red" (click)="setTimer(offer.offerEndTime)"></i></p>
    </div>
  </div>
</div>