<!-- <div class="container">
    <go-top-button [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300" [styles]="{
      'margin-top': '250px',
      'background-color': 'black',
      'opacity': '0.7',
        'line-height': '20px'}">
      <i class="fa fa-arrow-up" style="color:white;"></i>
    </go-top-button>
  <div class="bomb">
    <countdown [text]="text" units="Month | Days | Hours | Minutes | Seconds" end={{enddate}}></countdown>
  </div>
  <div class="cuddle">
    <div *ngFor="let offer of offers; let i = index" class="offer" (click)="setTimer(offer.offerEndTime)">
      <img [src]="offer.offerIMG">
      <div class="mobile">
        <countdown [text]="text" units="Month | Days | Hours | Minutes | Seconds" end={{enddate}}></countdown>
      </div>
      <p class="para">{{offer.description}}</p>
      <p class="para">{{offer.percentageApplicable}}% Off, with {{offer.preBookPercentageApplicable}}% pre-booking charges.</p>
      <p class="para desktop">Check the time remains ->
        <i class="fa fa-clock-o" style="font-size:48px;color:red" (click)="setTimer(offer.offerEndTime)"></i>
      </p>
    </div>
  </div>
</div> -->